<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhongdi.miluo">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.login.RegisterActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.login.ForgetPswActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.login.QuickLoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.mine.SettingActivity"/>
        <activity android:name=".ui.activity.login.RegistSuccessActivity"/>
        <activity android:name=".ui.activity.login.OpenAccountActivity"/>
        <activity android:name=".ui.activity.mine.SafeCenterActivity"/>
        <activity android:name=".ui.activity.mine.SendCodeActivity"/>
        <activity android:name=".ui.activity.mine.ModifyLoginPswActivity"/>
        <activity android:name=".ui.activity.mine.ModifyDealPswActivity"/>
        <activity android:name=".ui.activity.mine.CheckDealPswActivity"/>
        <activity android:name=".ui.activity.mine.ModifyPhoneNumActivity"/>
        <activity android:name=".ui.activity.mine.BankCardListActivity"/>
        <activity android:name=".ui.activity.mine.AddBankCardActivity"/>
        <activity android:name=".ui.activity.market.FundDetailActivity"/>
        <activity android:name=".ui.activity.market.FundCurrencyDetailActivity"/>
        <activity android:name=".ui.activity.market.FundNoticeActivity"/>
        <activity android:name=".ui.activity.market.ManagerDetailActivity"/>
        <activity android:name=".ui.activity.market.PremiumActivity"/>
        <activity android:name=".ui.activity.market.FundAchivesActivity"/>
        <activity android:name=".ui.activity.market.FundHistoryValueActivity"/>
        <activity android:name=".ui.activity.market.BuyFundActivity"/>
        <activity android:name=".ui.activity.market.SellFundActivity"/>
        <activity android:name=".ui.activity.mine.TransactionsActivity"/>
        <activity android:name=".ui.activity.login.TestActivity"/>
        <activity android:name=".ui.activity.login.ForgetDealPswActivity1"/>
        <activity android:name=".ui.activity.login.ForgetDealPswActivity2"/>
        <activity android:name=".ui.activity.login.ChooseBankActivity"/>
        <activity android:name=".ui.activity.login.InfomationsActivity"/>
        <activity android:name=".ui.activity.login.MessagesActivity"/>
        <activity android:name=".ui.activity.mine.GiftListActivity"/>
        <activity android:name=".ui.activity.login.TestResultActivity"/>
        <activity android:name=".ui.activity.HtmlActivity"/>
        <activity android:name=".ui.activity.login.OpenAccountSuccessActivity"/>
        <activity android:name=".ui.activity.mine.TransationsRecordActivity"/>
        <activity android:name=".ui.activity.mine.TransationsDetailActivity"/>
        <activity android:name=".ui.activity.SearchActivity"/>

        <service android:name=".MyIntentService"></service>
    </application>

</manifest>